* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    background-color: #88aed0;
    background:linear-gradient(to right, #BFD4DB, #88aed0)
}

.container{
    background: #FFFFFF;
    width: 550px;
    padding: 5rem;
    margin: 70px auto;
    border-radius: 10px;
    box-sizing: 0 40px 55px rgba(0, 0, 1,0.9);
}

form{
    margin: 0 2rem;
}

.form-title{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 0.5rem;
}

input{
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: 0.5rem;
    border-bottom: 1px solid #808080;
    padding-left: 1.5rem;
    font-size: 17px;
}

.input-group{
    padding: 5% 0;
    position: relative;
}

.input-group i{
    position: absolute;
    color: black;
}

input:focus{
    background-color: transparent;
    outline: transparent;
    border-bottom: 2px solid hsl(327, 90%, 28%);
}

input::placeholder{
    color: transparent;
}

label{
    color: #808080;
    position: relative;
    left: 1.2rem;
    top: -1.3rem;
    cursor: auto;
    transition: 0.3s ease all;
}

input:focus~label,input:not(:placeholder-shown)~label{
    top: -3em;
    color: hsl(327, 90%, 28%);
    font-size: 15px;
}

.recover{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.recover a{
    text-decoration: none;
    color: rgba(125, 125, 235);
}

.recover a:hover{
    color: blue;
    text-decoration: underline;
}

.btn{
    font-size: 1.1rem;
    padding: 8px 0;
    outline: none;
    border: none;
    width: 100%;
    background: #808080;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: white;
    cursor: pointer;
    transition: 0.10s;
}

.btn:hover{
    background: #07001f;
}

.icons{
    text-align: center;
}

.icons i{
    color: blue;
    padding: 0.10rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #dfe9f5;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    transition: 1s;
}

.icons i:hover{
    background: #07001f;
    font-size: 1.6rem;
    border: 2px solid blue;
}

.links{
    display: flex;
    justify-content: space-around;
    padding: 0 4rem;
    margin-top: 0.9rem;
    font-weight: bold;
}

button{
    color: blue;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
}

button:hover{
    text-shadow: underline;
    color: blue;
}

